a.button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #999;
    color: #fff;
    margin: auto;
    height: 40px;
    width: 150px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect */
a.button:hover {
    background-color: #555;
}