body {
    background-image: linear-gradient(to bottom, #256aff, #111);
}

a.button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #3c3c3c, #c7c6c6);
    color: #fff;
    margin: auto;
    height: 40px;
    width: 150px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect */
a.button:hover {
    background-color: #555;
}

/* Tags */
section {
    margin-top: 5vh;
}

main p {
    font-size: 20px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    width: 60%;
}


h1 {
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 28px;
    margin: 0 24px;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}