body {
    background-color: #686868;
    font-size: 20px;
}
h1 {
    color: #fff;
    padding-top: 3%;
    text-align: center;
}
p {
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    top: 2px;
    width: 100%;
    overflow: hidden;
    position: -webkit-sticky;
}
li {
    float: left;
}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: #fff;
}

/* Classes */

.currentpage {
    background-color: #333;
    color: #fff;
  }


/* Dropdown */

.dropdown {
    width: 15%;
    background-color: white;
    font-size: 15px;
    display: block;
    position: fixed;
    right: 0;
    float: right;
    margin: 0;
    padding-top: 2px;
    text-align: center;
    position: -webkit-sticky;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px #000;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
    color: #000;
  }